global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'backend'
    metrics_path: /metrics
    static_configs:
      - targets: ["{{ backend_ip }}:3000"] # <--- CAMBIO CLAVE: Usar {{ backend_ip }}
